.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 7rem;
}

.userSection {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: x-large;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: calc(100vh + 5rem);
  z-index: -1;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 206, 251, 1) 0%,
    rgba(7, 45, 145, 1) 97%,
    rgba(9, 9, 121, 1) 100%
  );
}

.wavesPath {
  width: 100%;
  position: absolute;
  bottom: -10%;
}

.description {
  font-weight: 900;
  font-size: 10rem;
  letter-spacing: 0.25rem;
  list-style: none;
  line-height: 1;
}

.separationLinks {
  display: flex;
  gap: 2rem;
  font-size: 6rem;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  line-height: 0.8;
}

.a {
  color: rgb(2, 0, 36);
  transition: all 0.3s;
}

.a:hover {
  transform: translateY(-20px);
  color: white;
}

.p {
  margin-left: auto;
  text-align: right;
  font-size: 1rem;
}

.projects {
  width: 100%;
}

@media (max-width: 1024px) {
  .userSection {
    font-size: larger;
  }
  .description {
    font-size: 8rem;
  }
  .separationLinks {
    font-size: 4.8rem;
  }
  .li {
    font-size: 2.4rem;
  }
  .p {
    font-size: 0.875rem;
  }
  .wavesPath {
    bottom: -2%;
  }
}

@media (max-width: 768px) {
  .userSection {
    font-size: large;
  }
  .description {
    font-size: 6.4rem;
  }
  .separationLinks {
    font-size: 3.84rem;
  }
  .li {
    font-size: 1.92rem;
  }
  .p {
    font-size: 0.7rem;
  }
  .background {
    height: 100vh;
  }
}

@media (max-width: 548px) {
  .userSection {
    font-size: medium;
  }
  .description {
    font-size: 5.12rem;
  }
  .separationLinks {
    font-size: 3rem;
  }
  .li {
    font-size: 1.536rem;
  }
  .p {
    font-size: 0.56rem;
  }
  .background {
    height: 100vh;
  }
}
