.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding: 0 7rem;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: calc(100vh + 5rem);
  z-index: -1;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 206, 251, 1) 0%,
    rgba(7, 45, 145, 1) 97%,
    rgba(9, 9, 121, 1) 100%
  );
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15vh;
  z-index: 9999;
  padding-bottom: 5rem;
}

.sections > section:first-child + section {
  margin-top: 60vh;
}

.userSection {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: x-large;
}

.summaryUser {
  position: relative;
  z-index: 9999;
}

.wavesPath {
  width: 100%;
  position: absolute;
  bottom: -10%;
}

.description {
  font-weight: 900;
  font-size: 10rem;
  letter-spacing: 0.25rem;
  list-style: none;
  line-height: 1;
}

.separationLinks {
  display: flex;
  gap: 2rem;
  font-size: 6rem;
}

.ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  line-height: 0.8;
}

.a {
  color: rgb(2, 0, 36);
  transition: all 0.3s;
}

.a:hover {
  transform: translateY(-20px);
  color: white;
}

.p {
  margin-left: auto;
  text-align: right;
  font-size: 1rem;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.projectsSection h1 {
  font-size: 3rem;
  color: rgb(2, 0, 36);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8rem;
}

.projects article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: rgb(2, 0, 36);
}

.projects article img {
  max-width: 400px;
  min-width: 300px;
}

.projects article div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.projects article div a {
  padding: 1rem 2.5rem;
  background-color: rgb(2, 0, 36);
  color: white;
  border-radius: 4px;
  box-shadow: none;
  transition: all 0.2s;
}

.projects article div button {
  border: 2px solid rgb(2, 0, 36);
  background-color: transparent;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
}

.projects article div button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(2, 0, 36);
  transition: all 0.3s;
  z-index: -1;
}

.projects article div button:hover {
  color: white;
}

.projects article div button:hover::before {
  width: 100%;
  border-radius: 0;
}

.projects article div a:hover {
  box-shadow: 4px 4px 2px rgb(20, 75, 170);
}

@media (max-width: 1024px) {
  .userSection {
    font-size: larger;
  }
  .description {
    font-size: 8rem;
  }
  .separationLinks {
    font-size: 4.8rem;
  }
  .li {
    font-size: 2.4rem;
  }
  .p {
    font-size: 0.875rem;
  }
  .wavesPath {
    bottom: -2%;
  }

  .sections {
    top: 30vh;
  }

  .projects {
    margin-top: 6rem;
    gap: 2rem;
  }

  .projects article div a {
    padding: 1rem 2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .userSection {
    font-size: large;
  }
  .description {
    font-size: 6.4rem;
  }
  .separationLinks {
    font-size: 3.84rem;
  }
  .li {
    font-size: 1.92rem;
  }
  .p {
    font-size: 0.7rem;
  }
  .background {
    height: 100vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .sections {
    top: 30vh;
  }
}

@media (max-width: 548px) {
  .userSection {
    font-size: medium;
  }
  .description {
    font-size: 5.12rem;
  }
  .separationLinks {
    font-size: 3rem;
  }
  .li {
    font-size: 1.536rem;
  }
  .p {
    font-size: 0.56rem;
  }
  .background {
    height: 100vh;
  }
}
